.login-screen {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background-image: url(../Images/connect.jpg);
    background-size: 100%;
}

.login-container {
    display: flex;
    height: 80%;
    width: 80%;
}

.user-icon {
    height: 75%;
    width: 20%;
    align-self: center;
}

.login-container-form {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 35%;
    background-color: #f2f5f7;
    font-style: italic;
    padding-top: 3%;
    text-align: center;
    font-weight: bolder;
    font-size: 1vw;
}

.login-container-image {
    display: flex;
    height: 100%;
    width: 65%;
}

.login-image {
    width: 100%;
    height: 100%;
}

.logo-image {
    height: 20px;
    margin: 20px;
}

.login-header {
    display: flex;
    flex-direction: column;
}

.login-form {
    padding-top: 10%;
}

.login-button {
    display: flex;
    justify-content: space-between;
    padding-top: 5%;
    align-items: center;
}

.product-submit{
    text-align-last: center;
    padding-top: 5%;
    align-items: center;
}

.signup {
    display: flex;
    flex: auto;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 5%;
}

.errorText {
    display: flex;
    justify-content: flex-end;
}

.notFoundError {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50;
    width: 100vw;
}

.home-button {
    margin-bottom: 10%;
}

.main-body {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    height: '100vh';
    overflow: 'auto';
    padding-top:10vh;
    background-color: whitesmoke;
    align-items: center;
    justify-content: center;
}

.users-main-body {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    height: '100vh';
    overflow: 'auto';
    padding-top:10vh;
    background-color: whitesmoke;
}

.single-product-main-body {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    height: '100vh';
    overflow: 'auto';
    padding-top:10vh;
    padding-right: 5vw;
    padding-left: 5vw;
    background-color: whitesmoke;
}

.picture {
    width: 15vw;
    border-style: solid;
    border-width: thin;
    border-color: black;
}

.custom-link {
    cursor: pointer;
    color: turquoise;
}

.product-input {
    text-align: left;
}

.dashboard-main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.feedback {
    display: flex;
    flex-direction: row;
}

.rating {
    cursor: pointer;
}